* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #eacfc2, #f7ebe6);
}

header {
  background-color: #461e1e;
  color: #f9f4ed;
  font-family: "Lobster Two", cursive;
  padding: 1.3rem;
  text-align: center;
  font-size: 2.5rem;
  position: fixed;
  width: 100%;
  box-shadow: 3px 3px 6px #5f5d5d;
}

.main-container {
  background: linear-gradient(to right, #eacfc2, #f7ebe6);
  height: 92vh;
}

.main-itens {
  display: flex;
  align-items: center;
  height: 100%;
}

.about-text {
  width: 50%;
}
.about-text h1 {
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 3rem;
  color: #c5961f;
  margin-bottom: 1.5rem;
  padding-top: 50px;
}

.about-text p {
  text-align: justify;
  font-size: 1.5rem;
  font-family: monospace;
  color: #461e1e;
}

.login-area form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 100px;
}

.login-area input {
  width: 20rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.1rem;
}

.form-login{
  padding-right: 200px;
}

.home-buttons-container {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 100px;
}

.logout-button{
  top: -100px;
  right: 20px;
  position: fixed;
}

.home-buttons,
.logout-button,
.return-button {
  padding: 0.5rem;
  color: rgb(248, 242, 234);
  margin: 2rem 0.7rem 0 0;
  min-width: 150px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  background: #9a7575;
  background-image: linear-gradient(326deg, #861657 0%, #9c372d 74%);

  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(192, 79, 89, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}

.google-login {

  background-color: white;
  border: 1px solid #b5850c;

  padding: 0.5rem;
  margin: 2rem 0.7rem 0 0;
  min-width: 150px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;

  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(192, 79, 89, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}

.google-login span {
  font-weight: bolder;
}

.google-icon{
  width: 20px;
  height: 20px;
}

.text-sobre{
  padding-left: 100px;
}

.feed-container {
  padding-top: 6rem;
  background-color: #f9f2e6;
  min-height: 92vh;
}

.feed-menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.write-post-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  
}

.write-post-area textarea {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.3rem;
  border: 1px solid;
  margin-bottom: 3rem;
}

.post-button {
  margin-left: 15px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #540404;
  display:inline-block;
  color:#540404;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:140px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 1px 0px #ffffff;
}
.post-button:hover {
  background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
  background-color:#e9e9e9;
}
.post-button:active {
  position:relative;
  top:1px;
}

.all-posts {
  width: 70%;
  padding: 1.5rem;
  border: 1px solid darkgray;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: white;
}

.each-post {
  padding: 1rem;
  border: 1px solid darkgoldenrod;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.post-text {
  padding-bottom: 1.3rem;
}

.post-input{
  overflow-x: hidden;
}

.post-date {
  padding-bottom: 1rem;
  color: #d8a462;
}

.like-button,
.love-button,
.comment-button {
  padding: 0.5rem;
  border-radius: 1rem;
  background: burlywood;
  font-size: 1rem;
  font-weight: bold;
  color: #540404;
}

.delete-button {
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-weight: bolder;
  color: #a90000;
  background-color: white;
}

#alert {
  color: rgb(197, 4, 69);
  font-family: monospace;
  font-size: 18px;

}

footer {
  background-color: #461e1e;
  color: #a04f08;
  padding: 13px;
  font-size: 22px;
  text-align: end;
    
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 14px;
  background: #a04f08;
  
}

::-webkit-scrollbar-thumb {
  background: #a04f08;
  border-radius: 30px;
}